:root {
    --vermelho: #BB133E;
    --azul: #2682C2;
    --azul-escuro: #002664;
    --azul-claro: #ccdce7;
    --azul-bebe: #00eeff;
}

.sem-marcadores {
    list-style-type: none;
}

.sem-sublinhado {
    text-decoration: none;
}

.titulo {
    color: var(--azul-escuro);
    font-size: 2.5em;
    text-transform: uppercase;
}

.titulo::after {
    content: "";
    display: block;
    margin: 10px;
    width: 120px;
    height: 3px;
    background-color: var(--vermelho);
    margin-left: auto;
    margin-right: auto;
}

.titulo-2 {
    color: var(--azul-claro);
    font-size: 2.5em;
    text-transform: uppercase;
}

.titulo-2::after {
    content: "";
    display: block;
    margin: 10px;
    width: 120px;
    height: 3px;
    background-color: var(--azul);
    margin-left: auto;
    margin-right: auto;
}

.form-label {
    font-weight: 700;
}

.form-control {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
  
.form-control:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.8);
}

.botao {
    padding: 7px 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    transition: transform 0.5s ease;
}

.botao:hover {
    background-color: var(--azul-claro);
    transform: scale(1.05);
}